<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>

    {% include "pokedex/header.html" %}
</head>

<header>

</header>
<body>
<div>
    {% for i in data %}
        <div id="cardPokemon">
            <a id="lienPokemon" href="{% url 'index' i.id %}">
                <img id="imgAccueil" src="{{ i.sprite }}">
                <p id="infoPokemon">
                    N°{{ i.id }}
                    {{ i.name }}
                </p>
            </a>
        </div>
    {% endfor %}

    <div id="lienPage">
        {% if limit != 32 %}
            <a class="btn btn-info btn-lg" href="{% url 'accueil' offset|add:"-32" limit|add:"-32" %}"> Précédent </a>
        {% endif %}
        {% if limit != 898 %}
            <a class="btn btn-info btn-lg" href="{% url 'accueil' offset|add:"32" limit|add:"32" %}"> Suivant </a>
        {% endif %}
    </div>

</div>
</body>
</html>