<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>

    {% include "pokedex/header.html" %}
</head>

<header>

</header>
<body>
<div>
    {% for i in data %}
        <div id="cardPokemon">
            <a id="lienPokemon" href="{% url 'index' i.id %}">
                <img src="{{ i.sprite }}">
                <p id="infoPokemon">
                    N°{{ i.id }}
                    {{ i.name }}
                </p>
            </a>
        </div>
    {% endfor %}

    <div id="lienPage">
        {% if limit != 30 %}
            <a href="{% url 'accueil' offset|add:"-30" limit|add:"-30" %}"> Précédent </a>
        {% endif %}
        <a href="{% url 'accueil' offset|add:"30" limit|add:"30" %}"> Suivant </a>
    </div>

</div>
</body>
</html>