<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    {% include "pokedex/header.html" %}
    {% load extra_temp %}
    {% load static %}
</head>

<body id="pokemon">
    <div>
        {% if nb != 1 %}
            <div style="float: left; margin: 20px;">
                <a class="btn btn-info btn-lg" href="{% url 'index' nb|add:"-1" %}" style="width: 100%;"> Précédent </a>
                <div id="prevImgPokemon" ><img src="{{ prev_sprite }}" alt="img" style="width: 100px; height: 100px" /></div>
            </div>
        {% endif %}
        {% if nb != 898 %}
            <div style="float: right; margin: 20px;">
                <a class="btn btn-info btn-lg" href="{% url 'index' nb|add:"1" %}" style="width: 100%;"> Suivant </a>
                <div id="nextImgPokemon" ><img src="{{ next_sprite }}" alt="img" style="width: 100px; height: 100px" /></div>
            </div>
        {% endif %}
    </div>
    <div class="cardPokemon" style="float: left; width: 100%; margin-top: -5%;">
        <h1> {{ name }}</h1>
        <div id="imgPokemon" ><img src="{{ sprite }}" alt="img" style="width: 300px; height: 300px" /></div>
        <div id="typePokemon">
            {% for type in types %}
                    <p id="couleurType" style=" background-color:{{ color|tabElement:forloop.counter0 }}; "> {{ type|upperCase }}</p>
            {% endfor %}
        </div>
        <p class="infoPokemon" ><br> {{ taille }}m | {{ poids }}kg</p>
        <p class="infoPokemon">Habitat : {{ habitat|upperCase }}</p>
        <div class="boutonPokeball">
                <button id="btnAddTeam" type="submit" onclick="location.href='{% url "add_pokemon" nb %}'"> <img src="{% static 'ressources/pokeball.png' %}" height ="60" width="60"/></button>  
        </div> 
    </div>
</body>
</html>