<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    {% include "pokedex/header.html" %}
    {% load views %}
</head>
<body style="display: flex; justify-items: center; flex-direction: column; text-align: center;">
    <h1> {{ name }}</h1>
    <div style="display: flex; justify-content: center;"><img src="{{ sprite }}" alt="img" style="width: 300px; height: 300px" /></div>
    <div style="display: flex; flex-direction: row; justify-content: center;">

            {% for type in types %}
                    <p style="font-size: 30px; border-radius: 5px; padding: 3px; margin: 10px; background-color:{{ color|index:forloop.counter0 }}; color: white"> {{ type }}</p>
            {% endfor %}
    </div>
    <p style="font-size: 20px;"><br> {{ taille }}m | {{ poids }}kg</p>
    <p style="font-size: 20px;">Habitat : {{ habitat }}</p>
</body>
</html>