<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>

    {% include "pokedex/header.html" %}
</head>

<header>

</header>
<body>
    <div class="container">
        <h2>Ma Poketeam</h2>
        <h4>Liste des 6 pokemon :</h4>
        <ul>
            <div id="cardTeamPokemon">
                <p id="infoPokemon">
                    Pokemon 1 : N°1
                </p>
            </div>
            <div id="cardTeamPokemon">
                <p id="infoPokemon">
                    Pokemon 2 : N°2
                </p>
            </div>
            <div id="cardTeamPokemon">
                <p id="infoPokemon">
                    Pokemon 3 : N°3
                </p>
            </div>
            <div id="cardTeamPokemon">
                <p id="infoPokemon">
                    Pokemon 4 : N°5
                </p>
            </div>
            <div id="cardTeamPokemon">
                <p id="infoPokemon">
                    Pokemon 5 : N°5
                </p>
            </div>
            <div id="cardTeamPokemon">
                <p id="infoPokemon">
                    Pokemon 6 : N°6
                </p>
            </div>
        </ul>
    </div>
</body>
</html>