<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>

    {% include "pokedex/header.html" %}
</head>

<header>

</header>
<body>
    <div class="container">
        <h2>Ma Poketeam</h2>
        <h4>Liste des 6 pokemon :</h4>
        <ul>
            {% for t in team%}
            <div id="cardTeamPokemon">
                <p id="infoPokemon">
                    Pokemon 1 : N°{{ t.pokemon1 }}
                </p>
            </div>
            <div id="cardTeamPokemon">
                <p id="infoPokemon">
                    Pokemon 2 : N°{{ t.pokemon2 }}
                </p>
            </div>
            <div id="cardTeamPokemon">
                <p id="infoPokemon">
                    Pokemon 3 : N°{{ t.pokemon3 }}
                </p>
            </div>
            <div id="cardTeamPokemon">
                <p id="infoPokemon">
                    Pokemon 4 : N°{{ t.pokemon4 }}
                </p>
            </div>
            <div id="cardTeamPokemon">
                <p id="infoPokemon">
                    Pokemon 5 : N°{{ t.pokemon5 }}
                </p>
            </div>
            <div id="cardTeamPokemon">
                <p id="infoPokemon">
                    Pokemon 6 : N°{{ t.pokemon6 }}
                </p>
            </div>
            {%endfor%}
        </ul>        
    </div>
</body>
</html>