@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

#barreRecherche {
    margin: 2% auto;
    width: 20%;
    display: flex;
    align-items: baseline;
}

#barreRecherche > input {
    margin: 0 2% 0;
}

#cardPokemon {
    display: inline-block;
    margin-left: 4%;
    margin-bottom: 2%;
    background: #d7d6d6;
    border-radius: 20px;
}

#lienPokemon {
    text-decoration: none;
}

#infoPokemon {
    text-align: center;
}

#lienPage {
    text-align: center;
}

#pokemon {
    display: flex;
    justify-items: center;
    flex-direction: column;
    text-align: center;
}

#imgPokemon {
    display: flex;
    justify-content: center;
}

#typePokemon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}

#couleurType {
    font-size: 30px;
    border-radius: 5px;
    padding: 3px;
    margin: 10px;
}

.infoPokemon {
    font-size: 20px;
}

