@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

#barreRecherche {
    margin: 2% ;
    width: 20%;
    display: flex;
    align-items: baseline;
}

#barreRecherche > input {
    margin: 0 2% 0;
}

#cardPokemon {
    display: inline-block;
    margin: 2% 0 0 2%;
    width: 22%;
    background: #d7d6d6;
    border-radius: 20px;
}

#imgAccueil {
    display: block;
    margin: auto;
    width: 80%;
}

#lienPokemon {
    text-decoration: none;
}

#infoPokemon {
    text-align: center;
}

#lienPage {
    text-align: center;
}

#pokemon, #errorPage {
    display: inherit;
    justify-items: center;
    flex-direction: column;
    text-align: center;
}

#imgPokemon, #imgError {
    display: initial;
    justify-content: center;
    width: 300px;
    height: 300px;
}

#typePokemon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}

#couleurType {
    font-size: 30px;
    border-radius: 5px;
    padding: 3px;
    margin: 10px;
}

.infoPokemon {
    font-size: 20px;
}

.btn-info {
    margin: 1% 1% 1% 1%;
    display: inline-block;
    width: 10%;
}

#btnAddTeam{
    margin: auto;
    margin-top: 1%;
}

h4 {
    margin-top: 5%;
}




.pokeball{
    width: 50px;
	height: 50px;
    margin-right: 1%;
}

#cardTeamPokemon {
    display: inline-block;
    margin: 2% 0 0 2%;
    width: 33%;
    background: #d7d6d6;
    border-radius: 20px;
}